<%= flash[:notice] %>

<% if @book_new.errors.any? %>
    <h3>There is an error in the entered content<%= @book_new.errors.count %>There are cases</h3>
    <ul>
      <% @book_new.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
      <table class='table'>
        <tbody>
        <tr></tr>
        <tr>
	       <th>name</th>
         <th><%= current_user.name %></th>
       </tr>
       <tr>
         <th>introduction</th>
         <th><%= current_user.introduction %></th>
       </tr>
       <tr>
        <th>follows</th>
         <th><%= link_to "#{current_user.follower.count}", user_follower_path(current_user.id) %></th>
       </tr>
       <tr>
         <th>followers</th>
         <th><%= link_to "#{current_user.followed.count}", user_followed_path(current_user.id) %></th>
       </tr>


       </tbody>
      </table>
      <div class="row">
　　　<%= link_to edit_user_path(current_user), class:"btn btn-outline-secondary btn-block" do %><i class="fas fa-user-cog"></i><% end %>
　　　</div>
        <h2 class="mt-3">New book</h2>
        <%= form_with model:@book, local:true do |f| %>
        <h4>Title</h4>
        <%= f.text_field :title %>
        <h4>Body</h4>
        <%= f.text_area :body %>
        <%= f.submit class: 'btn btn-success' do %>
        <span>Create Book</span>
        <% end %>
        </div>
        <% end %>


<div class='col-md-8 offset-md-1'>
<h2>Books</h2>
 <table class='table table-hover table-inverse'>
    <thread>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>
    </thread>
    <% @books.each do |book| %>
    <tbody>
      <tr>
      <td>
      <td><%= link_to user_path(book.user.id) do %>
      <%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
      <% end %>
      </td>
      <td><%= link_to book.title, "/books/#{book.id}" %></td>
      <td><%= book.body %></td>
      <td><% if book.favorited_by?(current_user) %>
    <p>
      <%= link_to book_favorites_path(book), method: :delete do %>
        ♥<%= book.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to book_favorites_path(book), method: :post do %>
        ♡<%= book.favorites.count %> いいね
      <% end %>
    </p>
  <% end %></td>
  <td><p><%= link_to "#{book.book_comments.count} コメント", book_path(book.id) %></p></td>
      </tr>
    </tbody>
     <% end %>
  </table>
  </div>
  </div>
</div>
